<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                         http://www.springframework.org/schema/beans/spring-beans.xsd">
 	<!-- HelloWordEn hello1 = new HelloWordEn() -->
	<bean id="hello1" class="kr.co.softsoldesk.beans.HelloWordEn"/>
	<bean id="hello2" class="kr.co.softsoldesk.beans.HelloWordKr"/>
	<bean id="tv1" class="kr.co.softsoldesk.beans.SamsungTV"/>
	<bean id="tv2" class="kr.co.softsoldesk.beans.SoldeskTV"/>

</beans>
